{% extends 'base.html.twig' %}


{% block body %}

<h2>Tags : {{ tag.name }} </h2>
<ol>
    <h2>Articles : </h2>
    {% for article in tag.articles %}
    <h4><li>: <a href="/article/{{ article.id }}">{{ article.title }}</a></li></h4>
        <hr>
    {% endfor %}
</ol>
<ol>
    <h2>All tags : </h2>
    {% for tag in tags %}
        <h4><li>: <a href="/tag/{{ tag.name }}">{{ tag.name }}</a></li></h4>
        <hr>
    {% endfor %}
</ol>
{% endblock %}